{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ title }}</h1>
    {% include "components/alert.html.twig" with {'content': 'An exemple of imported component with variable !'} %}

    <p>Adding image</p>
    <img src="/assets/images/test.png" alt="Test image">

    <a class="mt-4 d-block" href="/about.html">Another page</a>
{% endblock %}
